// .box {
//     width: 300px;
//     height: 400px;
//     &-title {
//       height: 30px;
//       line-height: 30px;
//     }
//   }

//   $nav-color: #F90;
//   nav {
//     $width: 100px;
//     width: $width;
//     color: $nav-color;
//   }
  
//   //编译后
  
//   nav {
//     width: 100px;
//     color: #F90;
//   }

//   $nav-color:#f00;  
//   nav{
//       $width:100px;
//       width:$width;
//       color:$nav-color;
//   }



// 变量的定义
// 这意味着变量$highlight-color现在的值是#F90。
// sass使用$符号来标识变量
// 任何可以用作css属性值的赋值都可以用作sass的变量值，甚至是以空格分割的多个属性值，如$basic-border: 1px solid black;，或以逗号分割的多个属性值，如$plain-font: "Myriad Pro"、Myriad、"Helvetica Neue"、Helvetica、"Liberation Sans"、Arial和sans-serif; sans-serif;。
// 与CSS属性不同，变量可以在css规则块定义之外存在。当变量定义在css规则块内，那么该变量只能在此规则块内使用。如果它们出现在任何形式的{...}块中（如@media或者@font-face块），情况也是如此：
$highlight-color: #F90;




//变量的引用

$highlight-color: #F90;
.selected {
  border: 1px solid $highlight-color;
}

//编译后

.selected {
  border: 1px solid #F90;
}
